<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddHeroServlet</servlet-name>
    <servlet-class>controller.AddHeroServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteHeroServlet</servlet-name>
    <servlet-class>controller.DeleteHeroServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateHeroServlet</servlet-name>
    <servlet-class>controller.UpdateHeroServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowAllHero</servlet-name>
    <servlet-class>controller.ShowAllHero</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowAHeroServlet</servlet-name>
    <servlet-class>controller.ShowAHeroServlet</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>AddHeroServlet</servlet-name>
    <url-pattern>/AddHeroServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteHeroServlet</servlet-name>
    <url-pattern>/DeleteHeroServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateHeroServlet</servlet-name>
    <url-pattern>/UpdateHeroServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowAllHero</servlet-name>
    <url-pattern>/ShowAllHero</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowAHeroServlet</servlet-name>
    <url-pattern>/ShowAHeroServlet</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
